*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900');
@import url('https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900|Rubik+Doodle+Shadow');

/*BODY*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}

/*Header*/

.encabezado {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.encabezado h1 {
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 2.5rem;
}

.azul {
    color: #0361ae;
}

.boton {
    background-color: #7ab730;
    color: #fafafa;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
}

.boton:hover {
    background-color: #0361ae;
    color: #fafafa;
    cursor: pointer;

}

.encabezado li {
    list-style-type: none ;
    display: inline-block;
}

.encabezado li a {
    text-decoration: none;
    margin: 10px;
    color: black;
    font-size: 1.5rem;
}

.encabezado li a:hover {
    color: #0361ae;
}


/*BANNER*/


.banner::after{
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 5;

}

.carouselBanner {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



/*OFERTAS*/

.ofertas  p {
    color: #0361ae;
    font-size: 4rem;
    padding: 10px;
}

.contendorOdertas {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 20px;   
}

.ofertas { 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: #ccc;
    padding: 20px;
    box-shadow: opx 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.tarjeta img {
    max-width: 100%;
}


.tarjeta p {
    margin: 10px 0;
}

.tarjeta button {
    background-color: #7ab730;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.tarjeta button:hover {
    background-color: #28a745;
}
/*Analgesicos*/

.analgesicos { 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

 .contenedorAnalgesicos p{
    text-align: center;
    font-style: italic;
 }
 .contenedorAnalgesicos h2 {
    text-align: center;
    font-size: 1.5rem;
    color: black;
 }

 .imgAnalgesicos {
    object-fit:cover;
    width: 300px;
    height: 300px;
 }

 .contenedorAnalgesicos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: #ccc;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
 }

 /*Anticonceptivos*/

 .anticonceptivos  p {
    color: #0361ae;
    font-size: 4rem;
    padding: 10px;
}


.anticonceptivos { 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.contenedorAnticonceptivos {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 20px; 
    justify-content: center;
    align-items: center;
    background-color: white;
    border: #ccc;
    padding: 20px;
    box-shadow: opx 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.imgAnticonceptivos {
    object-fit:cover;
    width: 300px;
    height: 300px;
 }

 /*Suplementos Nutricionales*/

 .suplementosNutricionales { 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

 .contenedorSumplementosNutricionales p {
    text-align: center;
    font-style: italic;
    color: #0361ae;
    font-size: 1rem;
 }
 .sumplementosNutricionales h2 {
    text-align: center;
    font-size: 1.5rem;
    color: black;
 }

 .sumplementosNutricionales { 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

 .contenedorSumplementosNutricionales {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 20px; 
    justify-content: center;
    align-items: center;
    background-color: white;
    border: #ccc;
    padding: 20px;
    box-shadow: opx 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.imgSuplementosNutricionales {
    object-fit:cover;
    width: 50%;
    height: 50%;
 }

 /*Antigripales*/

 .contenedorAntigripales h2 {
    text-align: center;
    font-size: 1.5rem;
    color: black;
 }
 .antigripales  p {
    color: #0361ae;
    font-size: 4rem;
    padding: 10px;
    text-align: center;
    font-style: italic;
}


.antigripales { 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.contenedorAntigripales {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 20px; 
    justify-content: center;
    align-items: center;
    background-color: white;
    border: #ccc;
    padding: 20px;
    box-shadow: opx 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.imgAntigripales {
    object-fit:cover;
    width: 300px;
    height: 300px;
 }

/*Footer*/

.footer {
    background-color: #0361ae;
    color: #fff;
    padding: 20px 0;
}

.footerContenido {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;  
}

.footer h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.footer h3 {
    text-align: center;
    font-size: 1rem;
}
.infoContacto p,
.redesSociales a {
    margin: 5px 0;
    font-size: 1.2rem;
}

.redesSociales a {
    color: #ccc;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.5rem;
}

.redesSociales a:hover {
    background: radial-gradient (circle at 30% 107% #fdf497 0%, #fdf497 5%, #fdf497 45%, #d6249f 60%, #285aeb 90%);
    background-clip: text;
    color: wheat;
}

.footer i {
    margin-right: 10px;
}

/* IFrame*/

iframe {
    margin: auto;
    display: flexbox;
}

/* FORMULARIO */
.contacto { 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
form {
    margin-top: 20px;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

input [type="text"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}

.btnFormulario {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-top:  10px;
}

/*ubicacion*/

.ubicacion {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}


/*****************/

/* RESPOSIVE*/

/*VISTA TABLET*/
/* 768 PX  2023PX*/
@media (max-width:1023px) {
    /*header*/
    
    
    .encabezado {
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .encabezado .botonChat{
        display: none;
    }

    /*BANNER*/
   
    .carouselBanner{
    height: auto;
    flex-direction: column;
   }
    /*ofertas*/

    .ofertas {
        margin: 5vh;
        font-size: 2rem;
    }

    .ofertas h2, p {
        font-size: inherit;
    }

/*PAGINAS*/


   .analgesicos {
          margin: 5vh;
          font-size: 2rem;
        }
    .analgesicos h2, p {
        font-size: inherit;
    }   
    .imgAnalgesicos{
        grid-template-columns: repeat(5, 1fr);
    }

    .anticonceptivos {
        margin: 5vh;
        font-size: 2rem;
      }
  .anticonceptivos h2, p {
      font-size: inherit;
  }   
  .imgAnticonceptivos{
      grid-template-columns: repeat(5, 1fr);
  }

  .antigripales {
    margin: 5vh;
    font-size: 2rem;
  }
.antigripales h2, p {
  font-size: inherit;
}   
.imgAnatigripales{
  grid-template-columns: repeat(5, 1fr);
}

.suplementosNutricionales {
    margin: 5vh;
    font-size: 2rem;
  }
.suplementosNutricionales h2, p {
  font-size: inherit;
}   
.imgSuplementosNutricionales{
  grid-template-columns: repeat(5, 1fr);
}
    
    
 /*footer*/

    .footerContenido {
        flex-direction: column;
        text-align: center;
    }
      
}
    /*Vista movil*/
  /*0 hasta 768px*/


  @media (max-width: 768px) {


   .contendorOfertas {
    grid-template-columns: 1fr;
  }
}