.banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carouselBanner {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  